extends layout

block content
 .container
    h1 Organizer Area
    p Welcome to the organizers area
        //CREATE EVENT INFORMATION REQUIRED TO BE INPUT BY THE USER
        h2.page-header Create Event
        p Please enter event details below, * means optional criteria for items and services
        if errors
            each error, i in errors
                div.alert.alert-danger #{error.msg}
        form(method ='post', action='/users/create',enctype='multipart/form-data')
            .form-group
            label EVENT NAME
            input.form-control(name='name',type='text',
            placeholder='Enter event name')

            .form-group
            label VENUE
            input.form-control(name='venue',type='text',
            placeholder='Enter location')

            .form-group
            label DATE
            input.form-control(name='date',type='date',
            placeholder='Enter date')

            .form-group
            label STATUS
            select.form-control(name='status')
                    option Active
                    option Laters

            .form-group
            label TICKETS
            input.form-control(name='ticket',type='text',
            placeholder='Enter number of supported people')

            .form-group
            label PRICE
            input.form-control(name='price',type='text',
            placeholder='Price per ticket')

            .form-group
            label IMAGE
            input.form-control(name='profile', type='file')

            .form.group
            label SERVICES
            select.form-control(name='service', id = "service")

            .form.group
            label ITEMS
            select.form-control(name='item', id = "items")
            //THIS BUTTON TRIGGERS THE POST EVENT THAT SENDS THE INFORMATION IN FORMS TO THE SERVER
            .form-group
            input.btn.btn-primary(type = 'submit', name = 'submit',value='CREATE!')
            //THIS BUTTONS RETRIEVES SERVICES AND ITEMS THAT USER CAN ADD TO THEIR EVENT
          button.btn.btn-secondary(onclick = 'offer()') *ITEMS | SERVICES AVAILABLE

     div
            table.table-primary.table-bordered.table
                thead
                        tr
                            td.h2 Past Events

                tbody.h4(id = 'table')

            //THIS SECTION DISPLAYS TO THE USER THE EVENTS THEY HAVE ORGANIZED
          button.btn.btn-primary(onclick ='retrieve()') GET HISTORY
         script.
             //THIS FUNCTION SENDS A GET TO RETRIEVE THE HISTORY OF EVENTS ORGANIZED BY THE USER
             var retrieve = function () {
                 $.get('/users/history', function (data, status) {
                     var obj = $.parseJSON(data);

                     var i = 0;
                     while (i < 20) {
                         $('#table').append('EVENT: ' + obj[i].name + ' AT LOCATION ' + obj[i].venue + ' IS CURRENTLY ' + obj[i].status + '<br> ');
                         i++;
                     }

                 });

             }
                //THIS FUNCTION SENDS TWO GET REQUESTS, ONE FOR RETRIEVING AVAILABLE SERVICES AND AVAILABLE ITEMS TO ADD TO THE EVENT
              var offer = function(){
                  $.get('/users/serviceCollection ', function (data, status) {
                      var obj = $.parseJSON(data);

                      var i = 0;

                      while (i < 20) {
                          $('#service').append('<option>' + obj[i].title + ' - ' + obj[i].type + '</option><br>');
                          i++;
                      }
                  })

                  $.get('/users/itemCollection', function(data, status)
                  {
                      var obj = $.parseJSON(data);

                      var i = 0;

                      while (i < 20) {
                          $('#items').append('<option>' + obj[i].Type + ' - ' + obj[i].Description+ '</option><br>');
                          i++;
                      }

                  })
              };



  .container
