extends layout

block content
    .container
        h1 Services Area
        p Specialize in the services provided
            <br>
        if errors
            each error, i in errors
                div.alert.alert-danger #{error.msg}

        div
            h2 Add Service
            form(method ='post', action='/users/addService')

                .form-group
                label TITLE
                input.form-control(name='title',type='text',
                placeholder='Enter name or title of service')

                .form-group
                label CATEGORY
                select.form-control(name='status')
                        option(onclick= 'cater()') Entertainer
                        option(onclick= 'enter()') Cater
                        option(onclick= 'staff()') Staff

                .form-group
                label PRICE
                input.form-control(name='price',type='text',
                placeholder='Enter price')


                .form-group
                label ARTIST NAME
                input.form-control(name='artname',type='text',
                placeholder='Enter name', disabled="true",id = '1')

                .form-group
                label GENRE
                input.form-control(name='genre',type='text',
                placeholder='What is your genre?', disabled="true", id='2')


                .form-group
                label CUSINE
                input.form-control(name='cusine',type='text',
                placeholder='Cusine', disabled="true", id='3')

                .form-group
                label MENU
                input.form-control(name='menu', type='file', disabled="true", id='4')
                .form-group
                label HEADCOUNT
                input.form-control(name='head',type='text',
                placeholder='People that can be served', disabled="true", id='5')


                .form-group
                label SPECIALITY
                input.form-control(name='special',type='text',
                placeholder='Job Description' , disabled="true", id='6')
                .form-group
                label WORK HOURS
                input.form-control(name='hours',type='text',
                placeholder='Available Hours', disabled="true", id ='7')

                .form-group
                input.btn.btn-primary(type = 'submit', name = 'submit',value='ADD!')

        div
            h2 Delete Service
            form(method ='post', action='/users/deleteService')

                .form-group
                label SERVICE
                input.form-control(name='type',type='text',
                placeholder='Enter Service Title')

                .form-group
                input.btn.btn-primary(type = 'submit', name = 'submit',value='DELETE!')
        div
            h2 Service Inventory
                table.table-primary.table-bordered.table
                    thead
                              tbody
                                    tr
                                        td.h3 Title
                                        td.h3 Category
                                        td.h3 Price
                                    tr
                                        td.h4(id = 'showname')
                                        td.h4(id = 'showcat')
                                        td.h4(id = 'showprice')

        button.btn.btn-primary(onclick ='retrieve()') ALL SERVICES
        script.
            var cater = function () {


                $('#1').prop("disabled", false).show();
                $('#2').prop("disabled", false).show();
                $('#3').prop("disabled", true).hide();
                $('#4').prop("disabled", true).hide();
                $('#5').prop("disabled", true).hide();
                $('#6').prop("disabled", true).hide();
                $('#7').prop("disabled", true).hide();

            }

            var enter = function()
            {

                $('#1').prop("disabled", true).hide();
                $('#2').prop("disabled", true).hide();
                $('#3').prop("disabled", false).show();
                $('#4').prop("disabled", false).show();
                $('#5').prop("disabled", false).show();
                $('#6').prop("disabled", true).hide();
                $('#7').prop("disabled", true).hide();
            }
            var staff = function ()
            {

                $('#1').prop("disabled", true).hide();
                $('#2').prop("disabled", true).hide();
                $('#3').prop("disabled", true).hide();
                $('#4').prop("disabled", true).hide();
                $('#5').prop("disabled", true).hide();
                $('#6').prop("disabled", false).show();
                $('#7').prop("disabled", false).show();
            }
            var retrieve = function () {
                $.get('/users/allServices', function (data, status) {
                    var obj = $.parseJSON(data);

                    var i = 0;
                    while (i < 10) {
                        $('#showname').append(obj[i].title + '<br>' );
                        $('#showcat').append(obj[i].type + '<br>');
                        $('#showprice').append(obj[i].price + '.00$' +'<br>');
                        i++;
                    }
                });

            }


    .container
