extends layout

block content
 .container
    h1 Supplier Home
    p Welcome to the suppliers area
        <br>
     if errors
         each error, i in errors
             div.alert.alert-danger #{error.msg}
     h3
        a(href='/servHome') Go To Services
     div
        h2 Add Item
        form(method ='post', action='/users/addItem')

            .form-group
            label TYPE
            input.form-control(name='type',type='text',
            placeholder='Enter name/type')
            .form-group
            label PRICE
            input.form-control(name='price',type='text',
            placeholder='Enter price')
            .form-group
            label DESCRIPTION
            input.form-control(name='description',type='text',
            placeholder='Describe your item')
            .form-group
            label STOCK
            input.form-control(name='stockno',type='text',
            placeholder='Stock Number')


            .form-group
            input.btn.btn-primary(type = 'submit', name = 'submit',value='ADD!')
     div
         h2 Delete Item
         form(method ='post', action='/users/deleteItem')

             .form-group
             label TYPE
             input.form-control(name='type',type='text',
             placeholder='Enter name/type')

             .form-group
             input.btn.btn-primary(type = 'submit', name = 'submit',value='DELETE!')
             <br>
         h2 All items
            h4
                 ul(id = 'showlist').-list-ul.h4

     div
         h2 Supply Inventory
             table.table-primary.table-bordered.table
                 thead
                     tbody
                         tr
                             td.h3 Type
                             td.h3 Stock
                             td.h3 Price
                         tr
                             td.h4(id = 'showname')
                             td.h4(id = 'showcat')
                             td.h4(id = 'showprice')
        button.btn.btn-primary(onclick ='retrieve()') ALL ITEMS

         script.
             var retrieve = function () {
                 $.get('/users/allItems', function (data, status) {
                     var obj = $.parseJSON(data);
                     var i = 0;
                     while (i < 10) {
                         $('#showname').append(obj[i].Type + '<br>');
                         $('#showcat').append(obj[i].Stock + '<br>');
                         $('#showprice').append(obj[i].Price + '.00$' + '<br>');
                         i++;
                     }
                 });

             }


     .container
